{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{#article}}   <!--모델에 담은 정보 #으로 가져오기-->
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}  <!--여기까지-->
    </tbody>
</table>

{{>layouts/footer}}

